[Desktop Entry]
Version=1.0
Name=WinDraw
Comment=Application for drawing to the screen
Exec=/home/amaury/Documents/perso/Python/draw_window/APP/WinDraw
Path=/home/amaury/Documents/perso/Python/draw_window/APP
Icon=WinDraw
Terminal=false
Type=Application
Categories=Utility;
